@page
@model ModelAsp1.Pages.Products.CartModel

@{
    ViewData["Title"] = "Cart";
}

<h1> * * PANIER * *</h1>

@if (Model.CartItems.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Price * item.Quantity)</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>PANIER IS EMPTY</p>
}
