@page
@model ModelAsp1.Pages.Products.CreateModel

@{
    ViewData["Title"] = "Create";
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="stylesheet" href="/css/product.css" />

</head>

@* ------------------------------------------------------------------ navbar ----------------------------------------------------------------*@
<header class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="index.html">
                <img src="images/logo.png" alt="">
                <span>
                    Style
                </span>
            </a>


            <div class="d-flex   flex-column flex-lg-row  ">
                <ul class="navbar-nav  ">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Index">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="Create"> Add Product </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="./Cart"> Cart </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=" "> Blog </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=" ">Profie </a>
                    </li>
                </ul>
            </div>

        </nav>
    </div>

</header>

@* ------------------------------------------------------------------ navbar ----------------------------------------------------------------*@

<body>
    <div class="container">
        <input type="checkbox" id="flip">
      @*   <div class="cover">
            <div class="front">
                 <img src="/images/638328955139259716.jpg " alt=""> 
            </div>
             
        </div> *@
        <div class="forms">
            <div class="form-content">
                <div class="login-form">
                    <div class="title">Add a new product</div>
                    @* ---------------------------------------- CREATE FORM  ------------------------------------------------- *@
                    <form method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fa-solid fa-braille"></i>
                                <input  asp-for="Product.Title" placeholder="Title" required>
                                <span asp-validation-for="Product.Title" class="text-danger"></span>
                            </div>
                            </div>
                            <div class="input-boxes">
                            <div class="input-box">
                                    <i class="fa-solid fa-calendar-days"></i>
                                    <input   asp-for="Product.ReleaseDate" placeholder="ReleaseDate" required>
                                    <span asp-validation-for="Product.ReleaseDate" class="text-danger"></span>
                            </div>
                            </div>
                              <div class="input-boxes">
                            <div class="input-box">
                                        <i class="fa-solid fa-quote-left"></i>
                                        <input   asp-for="Product.Genre" placeholder="Genre" required>
                                    <span asp-validation-for="Product.Genre" class="text-danger"></span>
                            </div>
                            </div>
                            <div class="input-boxes">
                            <div class="input-box">
                                    <i class="fa-solid fa-money-bill-1-wave"></i>
                                    <input   asp-for="Product.Price" placeholder="Price" required>
                                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                            </div>
                            </div>
                            <div class="input-boxes">
                            <div class="input-box">
                                    <i class="fa-solid fa-scale-balanced"></i>
                                    <input   asp-for="Product.Quantity" placeholder="Quantity" required>
                                    <span asp-validation-for="Product.Quantity" class="text-danger"></span>
                            </div>
                            </div>
                            <div class="input-boxes">
                            <div class="input-box">
                                    <i class="fa-solid fa-image"></i>
                                    <input asp-for="ImageFile" type="file" name="ImageFile" required>
                                    <span asp-validation-for="Product.imageUrl" class="text-danger"></span>
                            </div>
                            </div>
                            <div class="button input-box">
                                <input type="submit"   value="Create">
                            </div>
                       
                    </form>

                    </div>

                </div>
               
            </div>
        </div>
</body>



@* 
<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.Title" class="control-label"></label>
                <input asp-for="Product.Title" class="form-control" />
                <span asp-validation-for="Product.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ReleaseDate" class="control-label"></label>
                <input asp-for="Product.ReleaseDate" class="form-control" />
                <span asp-validation-for="Product.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Genre" class="control-label"></label>
                <input asp-for="Product.Genre" class="form-control" />
                <span asp-validation-for="Product.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Quantity" class="control-label"></label>
                <input asp-for="Product.Quantity" class="form-control" />
                <span asp-validation-for="Product.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.imageUrl" class="control-label"></label>
                <input asp-for="ImageFile" type="file" name="ImageFile" class="form-control" />
                <span asp-validation-for="Product.imageUrl" class="text-danger"></span>
            </div>
 
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
 *@
<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
